DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=qlphongkham

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=qlpk-dev-access-secret
JWT_REFRESH_SECRET=qlpk-dev-refresh-secret
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800

INTERNAL_TOKEN=qlpk-dev-internal-token

AUTH_PORT=3001
PATIENT_PORT=3002
STAFF_PORT=3003
APPOINTMENT_PORT=3004
GATEWAY_PORT=3000

AUTH_SERVICE_URL=http://localhost:3001
PATIENT_SERVICE_URL=http://localhost:3002
STAFF_SERVICE_URL=http://localhost:3003
APPOINTMENT_SERVICE_URL=http://localhost:3004

SLOT_DURATION_MINUTES=30
